## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

## mcdaniel apr-2019: entuze footer styling
<style>
  .wrapper-footer {
    background: #2B2D34;
    padding: 10px;
  }

  .footer-col-titles {
    color: white;
    font-family: arial;
    font-size: smaller;
  }

  .footer-links {
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: smaller;
  }

  @import "neat";
  @import "bourbon";

  * {
    box-sizing: border-box;
  }

  .flex-container {
    padding: 0;
    margin: 0;
    outline: 1px solid white;
    margin: 1em auto;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-item {
    color: white;
    margin: 1em;
    flex: 1 1 auto;
    outline: 1px solid white;

    // whatever the breakpoints are that scaffold has set.
    @media screen and (min-width: 320px) {
     width: 100vw;
    }

    @media screen and (min-width: 640px) {
     width: calc(50vw - 4em);
    }

    @media screen and (min-width: 960px) {
     width: calc(25vw - 4em);

      &:first-child {
        //margin-left: auto;
      }

      &:last-child {
        //margin-right: auto;
      }
    }

    @media screen and (min-width: 1280px) {

    }
  }
</style>


  <div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >
      <div>
        <div class="flex-container">
          <div class="flex-item flex-item-1">
            <div class="wrapper-logo">
            </div>
            <p>phone</p>
            <p>email</p>
          </div>
          <div class="flex-item flex-item-2">
            <h6 class="footer-col-titles">Company</h6>
            <nav class="" aria-label="${_('About')}">
              <ol>
                  % for item_num, link in enumerate(footer['navigation_links'], start=1):
                  <li class="footer-links">
                    <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
                  </li>
                  % endfor
              </ol>
            </nav>
          </div>
          <div class="flex-item flex-item-3">
            <h6 class="footer-col-titles">Links</h6>
          </div>
          <div class="flex-item flex-item-4">
            <h6 class="footer-col-titles">Others</h6>
            <nav class="" aria-label="${_('Legal')}">
              <ul>
                % for item_num, link in enumerate(footer['legal_links'], start=1):
                  <li class="footer-links">
                    <a href="${link['url']}">${link['title']}</a>
                  </li>
                % endfor
              </ul>
            </nav>

          </div>
          <div class="flex-item flex-item-4">
            <h6 class="footer-col-titles">Connect with us</h6>
          </div>
        </div>
      </div>
      <div class="colophon">

        % if context.get('include_language_selector', footer_language_selector_is_enabled()):
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
        % endif


        <p class="copyright">© Entuze Enterprise Solutions. All rights reserved except where noted.</p>

      </div>

    </footer>
  </div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
